/*
colors yellow(dark>light)
rgb(240,100,0)
rgb(240,120,0)
rgb(240,140,0)
rgb(240,160,0)
rgb(240,180,0)
*/
html{
    min-height: 100%;
    position: relative;
}
body{
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
    font-size: 12px;
}
header{
    position: relative;
    width: 100%;
    color: #ffffff;

}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background:url('../images/bg-head.jpg') repeat 100% 50%;
    background-attachment: fixed;
    box-shadow: inset 0 1px 10px #3c3c3c, inset 0 -1px 10px #3c3c3c;
}
.sm-header{
    height:100px;
}
.big-header{
    height: 200px;
}
header > .container{
    padding-top: 20px;
}
nav{
    margin: 15px 0;
    font-size: 14px;
}
.navbar{
    min-height: 0;
    margin-bottom: 10px;
}
a,
a:hover,
a:active,
a:focus{
    color: #3c3c3c;
    text-decoration: none;
    outline: none;
}
.nav-pills>li>a{
    border-radius: 0;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills > li.active > a:focus{
    color: #3c3c3c;
    background: rgb(240,200,0);
    box-shadow:inset 0 1px 8px rgb(240,120,0);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65px;
    font-size: 10px;
}
.footer>.container,
 .footer>.container>.row,
 .footer>.container>.row>div{
     height: 100%;
 }
.big-square{
    border: 5px solid rgb(240,200,0);
    border-radius: 0;
}
.btn:focus,
.btn:active{
    outline: none;
}
.yellow-btn{
    background: rgb(240,200,0);
    border-radius: 0;
    min-width: 100%;
    font-size: 12px;
    outline: 0;
    border: none;
    white-space: nowrap;
}
.border{
    display: inline-block;
    border: 3px solid rgb(240,200,0);
    padding: 2px;
    margin: 5px;
    width: auto;
    box-shadow: 1px 1px 4px 0 #5e5e5e;
}
.content{
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
}
.msq{
    height: 150px;
    color: #ffffff;
    margin-bottom: 30px;
    box-shadow: inset 0 0 20px 1px rgb(240,80,0);
}
.dark{
    background-color: rgb(240,100,0);
}
.medium{
    background-color: rgb(240,120,0);
}
.light{
    background-color: rgb(240,140,0);
}
.omsq,
.omsq2{
    background-color: white;
    border: 4px solid rgb(240,160,0);
    padding: 0;
}
.omsq2 {
    border-left: none;
    border-right: none;
}
.omsqt:hover,
.omsqt2:hover{
    background-color: rgb(240,160,0);
    color: white;
    cursor: pointer;
}
.omsqt,
.omsqt2{
    height: 200px;
    padding: 4px;
    background-color: white;
}
.omsqt{
    border-top: 4px solid rgb(240,160,0);
}
.omsqt2{
    border-bottom: 4px solid rgb(240,160,0);
}
ol{
    font-size: 14px;
    padding-left: 20px;
}
.img-responsive{
    height: 100%;
    width: 100%;
}
.m-footer{
    text-align: center;
}
.phone{
    font-size: 20px;
}
.firm-name{
    font-family: 'Kurale', serif;
    font-size: 34px;
    white-space: nowrap;
}
h1 small{
    color: #ffffff;
}
.float-btn{
    font-size: 14px;
    margin-bottom: 30px;
    border-radius: 6px;
    outline: none;
}
.float-btn:first-child{
    box-shadow: 1px 1px 4px 0 #5e5e5e;
}
.float-btn:last-child{
    box-shadow: -1px 1px 4px 0 #5e5e5e;
}
.our-works-indicators{
    /*margin-top: 100px;*/
    position: relative;
}
.our-works-image:hover{
    cursor: pointer;
}
.carousel-control.left,
.carousel-control.right{
    background: none;
}
.readmore-btn,
.contact-btn{
    color: #3c3c3c;
    background: rgb(240,200,0);
    box-shadow: 1px 1px 4px 0 #5e5e5e;
    border: none;
}
.pagination > .active > a,
.pagination > .active > a:active,
.pagination > .active > a:hover,
.pagination > .active > a:focus{
    background: rgb(240,160,0);
    color: #3c3c3c;
    border: none;
    cursor: pointer;
}
img{
    display: inline;
    vertical-align: middle;
}
.s-l{
    display: inline-block;
    height: 33px;
    width: 33px;
    background: url('../images/ikonki-small.png') no-repeat;
    cursor: pointer;
}
.vk{
    background-position: -137px -55px;
}
.vk:hover,
.vk:active{
    background-position: -137px -10px;
}
.ok{
    background-position: -178px -55px;
}
.ok:hover,
.ok:active{
    background-position: -178px -10px;
}
.fb{
    background-position: -12px -55px;
}
.fb:hover,
.fb:active{
    background-position: -12px -10px;
}
.tw{
    background-position: -53px -55px;
}
.tw:hover,
.tw:active{
    background-position: -53px -10px;
}
.li{
    background-position: -95px -55px;
}
.li:hover,
.li:active{
    background-position: -95px -10px;
}
.yt{
    background-position: -220px -55px;
}
.yt:hover,
.yt:active{
    background-position: -220px -10px;
}
.in{
    background-position: -261px -55px;
}
.in:hover,
.in:active{
    background-position: -261px -10px;
}
.alert-info {
    color: #3c3c3c;
    background-color: rgba(240,200,0,0.8);
    border-color: rgb(240,200,0);
}
.alert > b > a{
    color: rgb(240,100,0);
}
.glyphicon{
    color: rgb(240,100,0);
}
.panel-price > .panel-heading{
    background-color: rgba(240,200,0,0.8);
    border-color: rgb(240,200,0);
}
.panel-price > table{
    border-color: rgb(240,200,0);
}
#big-name {
    font-size: 60px;
}

.glyphicon-phone-alt,
.glyphicon-ruble{
    color: #ffffff;
    font-size: 22px;
}
.phone > .glyphicon{
    color: #ffffff;
    font-size: 18px;
}
.firm-name > span {
}