{% extends "base/template.html" %}
{% load staticfiles %}
{% block meta %}
    <meta name="Description" content="Блог и новости компании {{ office.name }}">
    <meta name="Keywords" content="{% for blog in blogs %}{{ blog.name }},{% endfor %}">
{% endblock meta %}
{% block body %}
    <div class="jumbotron text-center">
        <h3>Новости</h3>
    </div>
    {% for blog in blogs %}
        <div class="panel">
            <div class="panel-heading">
                <h2 class="panel-title">{{ blog.name }}</h2>
                <span class="text-right">{{ blog.pub_date }}</span>
            </div>
            <div class="panel-body">
                {{ blog.text|safe }}
            </div>
        </div>
    {% endfor %}
    <div class="col-md-12 text-center">
        <ul class="pagination pagination-lg">
            <li class="previous">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for number in blog_count %}
                <li><a href="#">{{ number }}</a></li>
            {% endfor %}
            <li class="next">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock body %}