{% extends "base/template.html" %}
{% load staticfiles %}
{% block meta %}
    <meta name="Description" content="Главная страница компании {{ office.name }}">
    <meta name="Keywords" content="сантехмонтаж">
{% endblock meta %}
{% block header %}
    <header class="big-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center big-square">
                    <h1 class="firm-name">{{ office.name }}</h1>
                    Сантехмонтаж в Красноярске<br>
                    <span class="phone">Офис: {{ office.phone1 }}<br>
                    Техник: {{ office.phone2 }}</span><br>
                    <div class="border">
                        <a href="{% url 'contacts' %}">
                            <button class="btn yellow-btn" type="button">Оставить заявку</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block body %}
    <div class="col-md-4">
        <div class="panel-body dark msq">
            <h3>Водоснабжение</h3>
            {% lorem 1 %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-body medium msq">
            <h3>Канализация</h3>
            {% lorem 1 %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-body light msq">
            <h3>Отопление</h3>
            {% lorem 2 %}
        </div>
    </div>
    <div class="row text-center">
        <h2 class="page-header text-center">Виды работ</h2>
        {% for service in services %}
            <div class="col-md-4 omsq">
                <img class="img-responsive" src="{{ service.image.url }}" height="auto" width="auto"/>
            </div>
            <a href="{% url 'services_article' service.pk %}">
                <div class="col-md-4 omsq">
                    <h3>{{ service.header }}</h3>
                    <p class="text-justify">{{ service.text|truncatewords:20 }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
    <h2 class="text-center">Новости</h2>
    {% for blog in blogs %}
        <div class="panel">
            <div class="panel-heading">
                <p class="panel-title">{{ blog.name }}</p>
                <p class="text-right">{{ blog.pub_date }}</p>
            </div>
            <div class="panel-body">
                {{ blog.text|safe|truncatewords_html:100 }}
                <a href="{% url 'blog_article' blog.pk %}">
                    <button class="btn btn-primary pull-right" type="button">Читать далее</button>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock body %}