{% extends "base/template.html" %}
{% load staticfiles %}
{% block meta %}
    <meta name="Description" content="{{ office.description }}">
    <meta name="Keywords" content="{{ office.keywords }}">
{% endblock meta %}
{% block header %}
    <header class="big-header">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img src="{% static 'base/images/bath.png' %}" height="80px" width="auto">
                    <img src="{% static 'base/images/sink.png' %}" height="80px" width="auto">
                </div>
                <div class="col-md-4 text-center">
                    <h1 class="firm-name">{{ office.name }}</h1>
                    Сантехмонтаж в Красноярске<br>
                </div>
                <div class="col-md-4 text-center">
                    <span class="phone">Офис: {{ office.phone1 }}<br>
                    Техник: {{ office.phone2 }}</span><br>
                    <div class="border">
                        <a href="{% url 'contacts' %}">
                            <button class="btn yellow-btn" type="button">Оставить заявку</button>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <img src="{% static 'base/images/cyberscooty-shower-1.png' %}" height="80px" width="auto">
                    <img src="{% static 'base/images/Household-Toilet-Pan-icon.png' %}" height="80px" width="auto">
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block body %}
    <div class="row">
        <h2 class="text-center">Акции</h2>
        {% for item in prices %}
            <a href="{% url 'pricing' %}">
                <div class="col-md-4 text-center">
                    <div class="panel-body {% cycle 'dark' 'medium' 'light' %} msq">
                        <h4>{{ item.name }}</h4>
                        <h1><small>от</small> {{ item.price }} р.</h1>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="row">
        <h2 class="text-center">Виды работ</h2>
        {% for service in services %}
            {% if forloop.counter0 == 1 %}
                <div class="col-xs-4 omsq2">
                    <a href="{% url 'services_article' service.pk %}">
                        <div class="omsqt2">
                            <h3 class="text-center">{{ service.header }}</h3>
                            <p class="text-justify">{{ service.text|safe|truncatewords:20 }}</p>
                        </div>
                    </a>
                    <img class="" src="{{ service.image.url }}" width="100%" height="200px"/>
                </div>
            {% else %}
                <div class="col-xs-4 omsq">
                    <img class="" src="{{ service.image.url }}" width="100%" height="200px"/>
                    <a href="{% url 'services_article' service.pk %}">
                        <div class="omsqt">
                            <h3 class="text-center">{{ service.header }}</h3>
                            <p class="text-justify">{{ service.text|safe|truncatewords:20 }}</p>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <h2 class="text-center">Новости</h2>
        {% for blog in blogs %}
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ blog.name }}</span>
                    <span class="pull-right text-right">{{ blog.pub_date }}</span>
                </div>
                <div class="panel-body">
                    {{ blog.text|safe|truncatewords_html:100 }}
                    <a href="{% url 'blog_article' blog.pk %}">
                        <button class="btn readmore-btn pull-right" type="button">Читать далее</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}