{% extends "base/template.html" %}
{% load staticfiles %}
{% block meta %}
    <meta name="Description" content="Цены на услуги компании {{ office.name }}">
    <meta name="Keywords" content="{% for item in prices %}{{ item.name }},{% endfor %}">
{% endblock meta %}
{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="page-header text-center">
                <h3>
                    <small>В данном разделе представлены актуальные предложения компании</small>
                </h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-price panel-default">
                <div class="panel-heading"><b>Цены</b></div>
                <table class="table">
                    <tr>
                        <th>Название</th>
                        <th class="text-right">Цена в рублях</th>
                    </tr>
                    {% for item in prices %}
                        <tr>
                            <td>
                                {{ item.name }}
                            </td>
                            <td class="text-right">
                                {{ item.price }}
                                {% if item.sale == True %}
                                    <span class="glyphicon glyphicon-gift"></span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <aside class="col-md-3">
            <div class="alert alert-info text-center">
                Еще больше информации о скидках и
                акциях нашей компании Вы можете узнать, позвонив по телефону<br>
                {{ office.phone1 }}
                или связавшись с нами через <b><a href="{% url 'contacts' %}">сайт</a></b>
            </div>
        </aside>
    </div>
{% endblock body %}