{% extends "base/template.html" %}
{% load staticfiles %}
{% block meta %}
    <meta name="Description" content="Возможности компании {{ office.name }}">
    <meta name="Keywords" content="{{ service.header }}">
{% endblock meta %}
{% block body %}
    <div class="jumbotron text-center">
        <h3>Предоставляемые Услуги</h3>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h2 class="panel-title text-center">{{ service.header }}</h2>
        </div>
        <div class="panel-body">
            <img class="img-responsive" src="{{ service.image.url }}" height="auto" width="auto"/>
            <p class="text-justify">{{ service.text }}</p>
            <a href="{% url 'services' %}">
                <button class="btn btn-primary pull-right" type="button">Назад</button>
            </a>
        </div>
    </div>
{% endblock body %}